:root {
	--white: rgb(255, 255, 255);
	--green: rgb(116, 221, 136);
	--blue: rgb(52, 145, 206);
	--gray-mid: rgba(0, 0, 0, 0.18);
	--gray-light: rgba(0, 0, 0, 0.06);
	--text-gray: rgb(85, 85, 85);
	--text-navy: rgb(44, 62, 80);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--gray-mid);
	border-radius: 10px;
}
#root {
	width: 100%;
}

.container {
	width: min(90%, 400px);
	margin: 30px auto;
}
.title {
	font-size: 24px;
	color: var(--text-gray);
}

.chat-container {
	border: 1px solid var(--gray-light);
	border-radius: 18px;
	padding: 16px 16px 0;
	background-color: var(--gray-light);
}
.messages-container {
	width: 100%;
	height: 400px;
	padding: 0 8px;
	display: flex;
	flex-direction: column;
	align-items: flex;
	gap: 20px;
	overflow-y: scroll;
}
